@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@mdi/font/css/materialdesignicons.min.css";
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Kablammo&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pangolin&family=Rubik+Microbe&family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face{
  font-family: 'Quicksand';
  src:url('/public/fonts/Quicksand-Medium.ttf') format('truetype');
}
